.cutout0, .cutout1, .cutout2, .cutout3, .cutout4, .cutout5 {
    height: 60px;
    width: 60px;
    background: radial-gradient(circle 50px at 50% 50%, 
                                transparent 25px, #555 10px);
    position: relative;
    z-index: 10;
}

.empty {
    height: 55px;
    width: 55px;
    border-style: solid;
    border-width:3px;
    border-color: white;
    border-radius:50% 50% 50% 50%;
    background-color: white;
    position: relative;
    z-index: 10;
}

.col {
    width: 60px;
    height: 360px;
    float: left;
}

.canhover {
     display: none;
}

@-webkit-keyframes drop-down0 {
  0%  {
    top:0px;
  }
  100%  {
    top:60px;
  }
}

@-webkit-keyframes drop-down1 {
  0%  {
    top:0px;
  }
  100%  {
    top:120px;
  }
}

@-webkit-keyframes drop-down2 {
  0%  {
    top:0px;
  }
  100%  {
    top:180px;
  }
}

@-webkit-keyframes drop-down3 {
  0%  {
    top:0px;
  }
  100%  {
    top:240px;
  }
}

@-webkit-keyframes drop-down4 {
  0%  {
    top:0px;
  }
  100%  {
    top:300px;
  }
}

@-webkit-keyframes drop-down5 {
  0%  {
    top:0px;
  }
  100%  {
    top:360px;
  }
}